[Desktop Entry]
Version=1.0
Name=Steam (Guix shell)
GenericName=Game Launcher
Comment=Plataforma de videojuegos Steam (nonguix, FHS container)
Exec=sh /home/hector/steam-guix/run-steam.sh
Terminal=false
Icon=steam
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;